In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [13]:



# Load the CSV file into a DataFrame
file_path = 'student_marks.csv'
sm = pd.read_csv(file_path)
print(data.head())

   Roll No                     Name  English  Hindi  Maths  Science  SST
0        1            A HariCharan        80     66     98       21   41
1        2  A Mohammed Sahil Aiyan        72     73     81       56   83
2        3           A Pavan Kumar        41     46     26        7   35
3        4            Aaditya Nanda       64     99      6       16   72
4        5        Aakanksha Kaushal       38     20     40       33   50

KeyError: 'total'

In [5]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Percentage': [85, 78, 92, 65, 45]
}

sm = pd.DataFrame(data)

In [6]:
def clac_grade(P):
    if p<=100 and p>=80:
        return 'A'
    elif p<80 and p>=60:
        return 'B'
    elif p<60 and p>=50:
        return 'C'
        
    elif p<50 and p>=40:
        return 'D'
        
    elif p<40 and p>=30:
        return 'E'
        
    elif p<30 and p>=0:
        return 'F'
    else:
        return 'X'
        
        sm['Grade'] = sm['Percentage'].apply(calc_grade)
sm

      Name  Percentage
0    Alice          85
1      Bob          78
2  Charlie          92
3    David          65
4      Eva          45

In [4]:

Sub=['English', 'Hindi', 'Maths',' Science', 'SST']
col=['b','g','r','w','y']
for i in range (5):
    plt.figure(figsize(10,6))
    plt.plot(temp['Name'],temp[sub],marker='o',label=sub[i])
    plt.title("Marks in different subjects")
    plt.xlabel("Name")
    plt.ylabel("Marks")
    plt.legend()
    plt.grid(True)
    plt.Show()

NameError: name 'plt' is not defined